<section class="mm_container">
    <div data-bind="compose:'loading.html'"></div>
    <div class="mm_slide">
        <div class="mm_move_left" data-bind="click: prevSlide">
            <i class="fa fa-chevron-circle-left"></i>
        </div>
        <div class="c_box_slide" id="slide_banner" data-bind="foreach: bannerSlide">

            <div class="sc_banner_slide" data-bind="click: function() {window.location.href = '#playlist/' + id}">
                <img data-bind="attr: { src: src }" alt="" />
            </div>

        </div>
        <div class="mm_move_right" data-bind="click: nextSlide">
            <i class="fa fa-chevron-circle-right"></i>
        </div>
    </div>
    <div class="mm_new_song block">
        <div class="sc_container_box_list inblock w100 mbot10">
            <div class="mm_title_list left">
                <h4>Mới Phát Hành</h4>
            </div>
            <div class="mm_see_all" data-bind="click: function() {window.location.href = '#new'}">
                <h4>TẤT CẢ</h4><i class="fa fa-chevron-right"></i>
            </div>
        </div>
        <div class="mm_container_box_song" data-bind="foreach: itemSongNew">

            <div class="sc_container_box_song" data-bind="click: $parent.changeLink.bind($parent, id_gg, text_gr_singer, name, image)">
                <div class="sc_c_img">
                    <img data-bind="attr: { src: image }" alt="" />
                    <div class="sc_c_img_bg hidden">
                        <img src="../../assets/images/play.png" class="play_icon" />
                    </div>
                </div>
                <div class="sc_c_des">
                    <div class="sc_c_des_name">
                        <h5 data-bind="text: name"></h5>
                    </div>
                    <div class="sc_c_des_singer mginbt5" data-bind="foreach: id_singer">
                        <a class="sc_text_link" data-bind="text: name, click: function() {window.location.href = '#singer/' + id}, clickBubble: false"></a>
                        <span class="nohover_singer">x</span>
                    </div>
                    <div class="sc_c_des_date">
                        <h5 data-bind="text: date_create"></h5>
                    </div>
                </div>
                <div class="sc_c_more_action">
                    <div class="sc_c_more_icon">
                        <div class="sc_icon_table" data-bind="class: is_like != 0 ? 'heart_active' : '', click: $parent.addHeart.bind($parent, id), clickBubble: false">
                            <i class="fa fa-heart"></i>
                        </div>
                        <a class="sc_icon_table" data-bind="click: function(){ window.location.href = 'https://docs.google.com/uc?export=download&id=' + id_gg }, clickBubble: false">
                            <i class="fa fa-download"></i>
                        </a>
                        <div class="sc_icon_table">
                            <i class="fa fa-play"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="mm_list_random">
        <div class="sc_container_box_list inblock w100 mbot10">
            <div class="mm_title_list left">
                <h4>Playlist Thịnh Hành</h4>
            </div>
            <div class="mm_see_all">
                <h4>TẤT CẢ</h4><i class="fa fa-chevron-right"></i>
            </div>
        </div>
        <div class="sc_container_box_list_song" data-bind="foreach: itemPlaylist">

            <div class="sc_box_list" data-bind="click: function() {window.location.href = '#playlist/' + id}">
                <div class="sc_container_img_list">
                    <div class="c_img_list" data-bind="foreach: img">

                        <img data-bind="attr: { src: '../../assets/images' + img }" class="c_img_list_list" alt="" />

                    </div>
                    <div class="c_container_img">
                        <div class="c_content_img">
                            <div class="c_box_icon" data-bind="class: is_like != 0 ? 'heart_active' : '', click: $parent.addPlaylist.bind($parent, id), clickBubble: false">
                                <i class="fa fa-heart"></i>
                            </div>
                            <div class="c_icon_play">
                                <i class="fa fa-play-circle"></i>
                            </div>
                            <div class="c_box_icon">
                                <i class="fa fa-download"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sc_c_des_name">
                    <h5 data-bind="text: name"></h5>
                </div>
                <div class="sc_c_des_singer">
                    <h5 data-bind="text: create_by"></h5>
                </div>
            </div>

        </div>
    </div>
    <div class="mm_trend">
        <div class="sc_container_box_list inblock w100 mbot10">
            <div class="mm_title_list left">
                <h4>Bài Hát Thịnh Hành</h4>
            </div>
            <div class="mm_see_all">
                <h4>TẤT CẢ</h4><i class="fa fa-chevron-right"></i>
            </div>
        </div>
        <div class="sc_container_box_list_song" data-bind="foreach: itemSongHot">

            <div class="sc_box_list" data-bind="click: $parent.changeLink.bind($parent, id_gg, text_gr_singer, name, image)">
                <div class="sc_container_img_list">
                    <img data-bind="attr: { src: image }" class="c_img_list" alt="" />
                    <div class="c_container_img">
                        <div class="c_content_img">
                            <div class="c_box_icon" data-bind="class: is_like != 0 ? 'heart_active' : '', click: $parent.addHeart.bind($parent, id), clickBubble: false">
                                <i class="fa fa-heart"></i>
                            </div>
                            <div class="c_icon_play">
                                <i class="fa fa-play-circle"></i>
                            </div>
                            <div class="c_box_icon" data-bind="click: function(){ window.location.href = 'https://docs.google.com/uc?export=download&id=' + id_gg }, clickBubble: false">
                                <i class="fa fa-download"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sc_c_des_name">
                    <h5 data-bind="text: name"></h5>
                </div>
                <div class="sc_c_des_singer mginbt5" data-bind="foreach: id_singer">
                    <a class="sc_text_link" data-bind="text: name, click: function() {window.location.href = '#singer/' + id}, clickBubble: false"></a>
                    <span class="nohover_singer">x</span>
                </div>
            </div>

        </div>
    </div>
    <div class="mm_singer">
        <div class="sc_container_box_list inblock w100">
            <div class="mm_title_list left">
                <h4>Nghệ sĩ nổi bật</h4>
            </div>
            <div class="mm_see_all">
                <h4>TẤT CẢ</h4><i class="fa fa-chevron-right"></i>
            </div>
        </div>
        <div class="sc_singer_slide">
            <div class="sc_container_box_singer">
                <div class="mm_move_left" data-bind="click: prevSinger">
                    <i class="fa fa-chevron-circle-left"></i>
                </div>
                <div class="c_box_slide_singer" data-bind="foreach: bannerSinger">

                    <div class="sc_banner_slide_singer" data-bind="click: function() {window.location.href = '#singer/' + id}, clickBubble: false">
                        <img data-bind="attr: { src: img }" alt="" />
                    </div>

                </div>
                <div class="mm_move_right" data-bind="click: nextSinger">
                    <i class="fa fa-chevron-circle-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="mm_category">
        <div class="sc_container_box_list inblock w100 mbot10">
            <div class="mm_title_list left">
                <h4>Music Video</h4>
            </div>
            <div class="mm_see_all">
                <h4>TẤT CẢ</h4><i class="fa fa-chevron-right"></i>
            </div>
        </div>
        <div class="sc_container_box_list_song">

            <div class="sc_box_list">
                <div class="sc_container_img_list">
                    <img src="../../assets/images/am-nhac.jpg" class="c_img_list" alt="" />
                    <div class="c_container_img">
                        <div class="c_content_img">
                            <div class="c_box_icon">
                                <i class="fa fa-heart"></i>
                            </div>
                            <div class="c_icon_play">
                                <i class="fa fa-play-circle"></i>
                            </div>
                            <div class="c_box_icon">
                                <i class="fa fa-download"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sc_c_des_name">
                    <h5>This is name</h5>
                </div>
                <div class="sc_c_des_singer">
                    <h5>This is content</h5>
                </div>
            </div>
            <div class="sc_box_list">
                <div class="sc_container_img_list">
                    <img src="../../assets/images/am-nhac.jpg" class="c_img_list" alt="" />
                    <div class="c_container_img">
                        <div class="c_content_img">
                            <div class="c_box_icon">
                                <i class="fa fa-heart"></i>
                            </div>
                            <div class="c_icon_play">
                                <i class="fa fa-play-circle"></i>
                            </div>
                            <div class="c_box_icon">
                                <i class="fa fa-download"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sc_c_des_name">
                    <h5>This is name</h5>
                </div>
                <div class="sc_c_des_singer">
                    <h5>This is content</h5>
                </div>
            </div>
            <div class="sc_box_list">
                <div class="sc_container_img_list">
                    <img src="../../assets/images/am-nhac.jpg" class="c_img_list" alt="" />
                    <div class="c_container_img">
                        <div class="c_content_img">
                            <div class="c_box_icon">
                                <i class="fa fa-heart"></i>
                            </div>
                            <div class="c_icon_play">
                                <i class="fa fa-play-circle"></i>
                            </div>
                            <div class="c_box_icon">
                                <i class="fa fa-download"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sc_c_des_name">
                    <h5>This is name</h5>
                </div>
                <div class="sc_c_des_singer">
                    <h5>This is content</h5>
                </div>
            </div>
            <div class="sc_box_list">
                <div class="sc_container_img_list">
                    <img src="../../assets/images/am-nhac.jpg" class="c_img_list" alt="" />
                    <div class="c_container_img">
                        <div class="c_content_img">
                            <div class="c_box_icon">
                                <i class="fa fa-heart"></i>
                            </div>
                            <div class="c_icon_play">
                                <i class="fa fa-play-circle"></i>
                            </div>
                            <div class="c_box_icon">
                                <i class="fa fa-download"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sc_c_des_name">
                    <h5>This is name</h5>
                </div>
                <div class="sc_c_des_singer">
                    <h5>This is content</h5>
                </div>
            </div>
            <div class="sc_box_list">
                <div class="sc_container_img_list">
                    <img src="../../assets/images/am-nhac.jpg" class="c_img_list" alt="" />
                    <div class="c_container_img">
                        <div class="c_content_img">
                            <div class="c_box_icon">
                                <i class="fa fa-heart"></i>
                            </div>
                            <div class="c_icon_play">
                                <i class="fa fa-play-circle"></i>
                            </div>
                            <div class="c_box_icon">
                                <i class="fa fa-download"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sc_c_des_name">
                    <h5>This is name</h5>
                </div>
                <div class="sc_c_des_singer">
                    <h5>This is content</h5>
                </div>
            </div>

        </div>
    </div>
</section>