<div class="m-container-login">
    <div class="sc-box-bg"></div>
    <div class="sc-box-bg"></div>
    <div class="sc-box-bg"></div>
    <div class="sc-container-form">
        <div class="sc-title-form">
            <span>Login</span>
        </div>
        <div class="sc-text-form">
            <span>Username</span>
        </div>
        <div class="sc-content-input">
            <i class="fa fa-user"></i>
            <input type="text" class="sc-login-input" placeholder="Username" data-bind="textInput: valueUser"/>
        </div>
        <div class="sc-text-form">
            <span>Password</span>
        </div>
        <div class="sc-content-input">
            <i class="fa fa-lock"></i>
            <input type="password" class="sc-login-input" placeholder="Password" data-bind="value: valuePass"/>
        </div>
        <div class="sc-forgot-password">
            <span>Forgot password?</span>
        </div>
        <div class="sc-btn-login" data-bind="click: checkLogin">
            <span>Login</span>
        </div>
        <div class="sc-login-more">
            <span>Or Sign Up Using</span>
        </div>
        <div class="sc-sign-up">
            <span>SIGN UP >>></span>
        </div>
    </div>
</div>