<div class="mm_container">
    <div data-bind="compose:'loading.html'"></div>
    <div class="mm_title_menu">
        <span>Thư viện</span>
        <div class="mm_icon_title_menu">
            <i class="fa fa-play-circle"></i>
        </div>
    </div>
    <div class="mm_list_random">
        <div class="sc_container_box_list inblock w100">
            <div class="mm_title_list left">
                <h4>Playlist đã tạo</h4>
            </div>
            <div class="mm_see_all">
                <h4>TẤT CẢ</h4><i class="fa fa-chevron-right"></i>
            </div>
        </div>
        <div class="empty-playlist" data-bind="class: itemSong().length > 0 ? 'hidden' : ''">
            <img src="../../assets/images/empty.png" alt="" />
            <div class="c_text_empty">
                Bạn chưa tạo playlist!
            </div>
        </div>
        <div class="sc_container_box_list_song" data-bind="foreach: itemSong">
            <div class="sc_box_list" data-bind="click: function() {window.location.href = '#playlist/' + id}">
                <div class="sc_container_img_list">
                    <div class="c_img_list" data-bind="foreach: img">

                        <img data-bind="attr: { src: '../../assets/images' + img }" class="c_img_list_list" alt="" />

                    </div>
                    <div class="c_container_img">
                        <div class="c_content_img">
                            <div class="c_box_icon" data-bind="class: is_like != 0 ? 'heart_active' : '', click: $parent.addPlaylist.bind($parent, id), clickBubble: false">
                                <i class="fa fa-heart"></i>
                            </div>
                            <div class="c_icon_play">
                                <i class="fa fa-play-circle"></i>
                            </div>
                            <div class="c_box_icon">
                                <i class="fa fa-download"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sc_c_des_name">
                    <h5 data-bind="text: name"></h5>
                </div>
                <div class="sc_c_des_singer">
                    <h5 data-bind="text: 'Tạo bởi '+ create_by"></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="mm_list_random">
        <div class="mm_tab">
            <div class="c_tab_title" data-bind="class: isTab() == 1 ? 'active_tab' : '', click: changeViewTab.bind($data, 1)">
                <span>BÀI HÁT</span>
            </div>
            <div class="c_tab_title" data-bind="class: isTab() == 2 ? 'active_tab' : '', click: changeViewTab.bind($data, 2)">
                <span>PLAYLIST</span>
            </div>
            <div class="c_tab_title" data-bind="class: isTab() == 3 ? 'active_tab' : '', click: changeViewTab.bind($data, 3)">
                <span>MV</span>
            </div>
        </div>
        <div class="mm_container_tab">
            <div data-bind="template: { name: 'tab_1', if: isTab() == 1 }"></div>
            <script type="text/html" id="tab_1">
                <div data-bind="compose:'profile/tab_1.html'"></div>
            </script>
            <div data-bind="template: { name: 'tab_2', if: isTab() == 2 }"></div>
            <script type="text/html" id="tab_2">
                <div data-bind="compose:'profile/tab_2.html'"></div>
            </script>
            <div data-bind="template: { name: 'tab_3', if: isTab() == 3 }"></div>
            <script type="text/html" id="tab_3">
                <div data-bind="compose:'profile/tab_3.html'"></div>
            </script>
        </div>
    </div>
</div>
