<div>
    <section class="mm_container_top">
        <div class="sc_container_search">
            <div class="sc_content_search" data-bind="class: setIsSelected() ? 'active' : ''">
                <div class="b_search_icon">
                    <i class="fa fa-search"></i>
                </div>
                <input data-bind="hasFocus: setIsSelected" type="text" class="sc_search_input" placeholder="Tìm kiếm bài hát, nghệ sĩ..." />
            </div>
            <div class="sc_result_search" data-bind="class: setIsSelected() ? 'active' : ''">
                <div class="sc_content_result_search">
                    <div class="sc_result_key">
                        <div class="sc_title_result_key">
                            <span>Từ khóa liên quan</span>
                        </div>
                        <div class="sc_box_result_key hidden">
                            <div class="sm_search_icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="sc_text_result_key">
                                <span>Chưa có dữ liệu!</span>
                            </div>
                        </div>

                        <div class="sc_box_result_key">
                            <div class="sm_search_icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="sc_text_result_key">
                                <span>this is name</span>
                            </div>
                        </div>
                        <div class="sc_box_result_key">
                            <div class="sm_search_icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="sc_text_result_key">
                                <span>this is name</span>
                            </div>
                        </div>
                        <div class="sc_box_result_key">
                            <div class="sm_search_icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="sc_text_result_key">
                                <span>this is name</span>
                            </div>
                        </div>
                        <div class="sc_box_result_key">
                            <div class="sm_search_icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="sc_text_result_key">
                                <span>this is name</span>
                            </div>
                        </div>
                        <div class="sc_box_result_key">
                            <div class="sm_search_icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="sc_text_result_key">
                                <span>this is name</span>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="sc_result_song">
                        <div class="sc_title_result_key">
                            <span>Gợi ý kết quả</span>
                        </div>
                        <div class="sc_box_result_song">
                            <div class="sc_box_result_key hidden">
                                <div class="sm_search_icon">
                                    <i class="fa fa-search"></i>
                                </div>
                                <div class="sc_text_result_key">
                                    <span>Chưa có dữ liệu!</span>
                                </div>
                            </div>

                            <div class="sc_container_box_song">
                                <div class="sc_c_img">
                                    <img src="../../assets/images/am-nhac.jpg" alt="" />
                                    <div class="sc_c_img_bg hidden">
                                        <img src="../../assets/images/play.png" class="play_icon" />
                                    </div>
                                </div>
                                <div class="sc_c_des">
                                    <div class="sc_c_des_name">
                                        <h5>this is name</h5>
                                    </div>
                                    <div class="sc_c_des_singer">
                                        <h5>this is singer</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="sc_container_box_song">
                                <div class="sc_c_img">
                                    <img src="../../assets/images/am-nhac.jpg" alt="" />
                                    <div class="sc_c_img_bg hidden">
                                        <img src="../../assets/images/play.png" class="play_icon" />
                                    </div>
                                </div>
                                <div class="sc_c_des">
                                    <div class="sc_c_des_name">
                                        <h5>this is name</h5>
                                    </div>
                                    <div class="sc_c_des_singer">
                                        <h5>this is singer</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sc_container_action">
            <div class="sc_box_upload">
                <i class="fa fa-upload"></i>
                <span>Cập nhật ca khúc mới</span>
            </div>
            <div class="sc_box_icon" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Chủ đề">
                <i class="fa fa-magic"></i>
            </div>
            <div class="sc_box_icon" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cài đặt">
                <i class="fa fa-wrench"></i>
            </div>
            <div class="sc_box_icon b_light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Người dùng">
                <i class="fa fa-user"></i>
            </div>
        </div>
    </section>
    <section class="menu">
        <div class="mm_show_menu_mobile">
            <i class="fa fa-bars"></i>
        </div>
        <div class="mm_container_menu active-none">
            <div class="sc_menu">
                <div class="sc_menu_logo">
                    <img src="../../assets/images/logo.png" alt="" />
                </div>
                <div class="sc_menu_content">
                    <div class="sc_box_menu">
                        <div class="c_icon_menu">
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="c_title_menu">
                            <span>Khám phá</span>
                        </div>
                    </div>
                    <div class="sc_box_menu">
                        <div class="c_icon_menu">
                            <i class="fa fa-headphones"></i>
                        </div>
                        <div class="c_title_menu">
                            <span>Cá nhân</span>
                        </div>
                    </div>
                    <div class="sc_box_menu">
                        <div class="c_icon_menu">
                            <i class="fa fa-music"></i>
                        </div>
                        <div class="c_title_menu">
                            <span>Nhạc mới</span>
                        </div>
                    </div>
                </div>
                <div class="sc_menu_sub_content">
                    <div class="sc_box_menu">
                        <div class="c_icon_menu">
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="c_title_menu">
                            <span>Thể loại</span>
                        </div>
                    </div>
                    <div class="sc_box_menu">
                        <div class="c_icon_menu">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                        <div class="c_title_menu">
                            <span>#maxchart</span>
                        </div>
                    </div>
                    <div class="sc_box_menu">
                        <div class="c_icon_menu">
                            <i class="fa fa-play-circle"></i>
                        </div>
                        <div class="c_title_menu">
                            <span>MV</span>
                        </div>
                    </div>
                    <div class="sc_box_menu">
                        <div class="c_icon_menu">
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="c_title_menu">
                            <span>Theo dõi</span>
                        </div>
                    </div>
                </div>
                <div class="sc_button_menu">
                    <div class="c_icon_menu">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="c_title_menu">
                        <span>Tạo playlist mới</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container_bottom">
        <div class="hidden_mobile active-none">
            <div class="icon_hidden_mobile">
                <i class="fa fa-chevron-circle-left"></i>
            </div>
        </div>
        <div class="mm_container_bot active_mobile-none">
            <div class="sc_container_left">
                <div class="c_img_song active-none">
                    <img id="img_song" src="../../assets/images/am-nhac.jpg" alt="" />
                </div>
                <div class="c_content_song">
                    <div class="c_title_song">
                        <span id="name_song">
                            this is name
                        </span>
                    </div>
                    <div class="c_title_singer">
                        <span id="name_singer">
                            this is singer
                        </span>
                    </div>
                </div>
            </div>
            <div class="sc_container_center">
                <div class="sc_action_music">
                    <div class="c_i_action_m active_ramdom-none">
                        <i class="fa fa-random"></i>
                    </div>
                    <div class="c_i_action_m">
                        <i class="fa fa-backward"></i>
                    </div>
                    <div class="c_i_action_m play">
                        <i class="fa fa-play"></i>
                    </div>
                    <div class="c_i_action_m">
                        <i class="fa fa-forward"></i>
                    </div>
                    <div class="c_i_action_m active_retweet-none">
                        <i class="fa fa-retweet"></i>
                    </div>
                </div>
                <div class="sc_time_m">
                    <div class="sc_curent_time" id="set_time">
                        <span>00:00</span>
                    </div>
                    <input id="point_timeline" class="sc_time_line" type="range" min="0" max="100" value="0"/>
                    <div class="sc_end_time">
                        <span>04:00</span>
                    </div>
                </div>
            </div>
            <div class="you_like">Có thể bạn sẽ thích</div>
            <div class="sc_container_right">
                <div class="c_icon_action heart_active-none">
                    <i class="fa fa-heart"></i>
                </div>
                <div class="c_icon_action">
                    <span>mv</span>
                </div>
                <div class="c_icon_action">
                    <i class="fa fa-volume-up"></i>
                </div>
                <div class="c_volume_setting" id="volume">
                    <input class="sc_point_volume" type="range" min="0" max="100" value="100"/>
                </div>
                <div class="line_sp"></div>
                <div class="c_icon_action action_bar">
                    <div class="bar_menu">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="container_action_bar active-none">
                        <div class="text_line">Danh sách hiện tại</div>

                        <div class="content_action_bar">
                            <div class="sc_container_box_song box_song_bottom">
                                <div class="sc_c_img">
                                    <img src="../../assets/images/am-nhac.jpg" alt="" />
                                    <div class="sc_c_img_bg hidden">
                                        <img src="../../assets/images/play.png" class="play_icon" />
                                    </div>
                                </div>
                                <div class="sc_c_des">
                                    <div class="sc_c_des_name">
                                        <h5>this is name</h5>
                                    </div>
                                    <div class="sc_c_des_singer mginbt5">
                                        <a class="sc_text_link">
                                            this is singer
                                            <span class="nohover_singer hidden">
                                                x
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="sc_c_action_song">
                                    <div class="icon_action_song heart_active-none">
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div class="icon_action_song">
                                        <i class="fa fa-play"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content_action_bar">
                            <div class="sc_container_box_song box_song_bottom">
                                <div class="sc_c_img">
                                    <img src="../../assets/images/am-nhac.jpg" alt="" />
                                    <div class="sc_c_img_bg hidden">
                                        <img src="../../assets/images/play.png" class="play_icon" />
                                    </div>
                                </div>
                                <div class="sc_c_des">
                                    <div class="sc_c_des_name">
                                        <h5>this is name</h5>
                                    </div>
                                    <div class="sc_c_des_singer mginbt5">
                                        <a class="sc_text_link">
                                            this is singer
                                            <span class="nohover_singer hidden">
                                                x
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="sc_c_action_song">
                                    <div class="icon_action_song heart_active-none">
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div class="icon_action_song">
                                        <i class="fa fa-play"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content_action_bar">
                            <div class="sc_container_box_song box_song_bottom">
                                <div class="sc_c_img">
                                    <img src="../../assets/images/am-nhac.jpg" alt="" />
                                    <div class="sc_c_img_bg hidden">
                                        <img src="../../assets/images/play.png" class="play_icon" />
                                    </div>
                                </div>
                                <div class="sc_c_des">
                                    <div class="sc_c_des_name">
                                        <h5>this is name</h5>
                                    </div>
                                    <div class="sc_c_des_singer mginbt5">
                                        <a class="sc_text_link">
                                            this is singer
                                            <span class="nohover_singer hidden">
                                                x
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="sc_c_action_song">
                                    <div class="icon_action_song heart_active-none">
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div class="icon_action_song">
                                        <i class="fa fa-play"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content_action_bar">
                            <div class="sc_container_box_song box_song_bottom">
                                <div class="sc_c_img">
                                    <img src="../../assets/images/am-nhac.jpg" alt="" />
                                    <div class="sc_c_img_bg hidden">
                                        <img src="../../assets/images/play.png" class="play_icon" />
                                    </div>
                                </div>
                                <div class="sc_c_des">
                                    <div class="sc_c_des_name">
                                        <h5>this is name</h5>
                                    </div>
                                    <div class="sc_c_des_singer mginbt5">
                                        <a class="sc_text_link">
                                            this is singer
                                            <span class="nohover_singer hidden">
                                                x
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="sc_c_action_song">
                                    <div class="icon_action_song heart_active-none">
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div class="icon_action_song">
                                        <i class="fa fa-play"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text_line">Có thể bạn sẽ thích</div>

                        <div class="content_action_bar">
                            <div class="sc_container_box_song box_song_bottom">
                                <div class="sc_c_img">
                                    <img src="../../assets/images/am-nhac.jpg" alt="" />
                                    <div class="sc_c_img_bg hidden">
                                        <img src="../../assets/images/play.png" class="play_icon" />
                                    </div>
                                </div>
                                <div class="sc_c_des">
                                    <div class="sc_c_des_name">
                                        <h5>this is name</h5>
                                    </div>
                                    <div class="sc_c_des_singer mginbt5">
                                        <a class="sc_text_link">
                                            this is singer
                                            <span class="nohover_singer hidden">
                                                x
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="sc_c_action_song">
                                    <div class="icon_action_song heart_active-none">
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div class="icon_action_song">
                                        <i class="fa fa-play"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content_action_bar">
                            <div class="sc_container_box_song box_song_bottom">
                                <div class="sc_c_img">
                                    <img src="../../assets/images/am-nhac.jpg" alt="" />
                                    <div class="sc_c_img_bg hidden">
                                        <img src="../../assets/images/play.png" class="play_icon" />
                                    </div>
                                </div>
                                <div class="sc_c_des">
                                    <div class="sc_c_des_name">
                                        <h5>this is name</h5>
                                    </div>
                                    <div class="sc_c_des_singer mginbt5">
                                        <a class="sc_text_link">
                                            this is singer
                                            <span class="nohover_singer hidden">
                                                x
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="sc_c_action_song">
                                    <div class="icon_action_song heart_active-none">
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div class="icon_action_song">
                                        <i class="fa fa-play"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content_action_bar">
                            <div class="sc_container_box_song box_song_bottom">
                                <div class="sc_c_img">
                                    <img src="../../assets/images/am-nhac.jpg" alt="" />
                                    <div class="sc_c_img_bg hidden">
                                        <img src="../../assets/images/play.png" class="play_icon" />
                                    </div>
                                </div>
                                <div class="sc_c_des">
                                    <div class="sc_c_des_name">
                                        <h5>this is name</h5>
                                    </div>
                                    <div class="sc_c_des_singer mginbt5">
                                        <a class="sc_text_link">
                                            this is singer
                                            <span class="nohover_singer hidden">
                                                x
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="sc_c_action_song">
                                    <div class="icon_action_song heart_active-none">
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div class="icon_action_song">
                                        <i class="fa fa-play"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content_action_bar">
                            <div class="sc_container_box_song box_song_bottom">
                                <div class="sc_c_img">
                                    <img src="../../assets/images/am-nhac.jpg" alt="" />
                                    <div class="sc_c_img_bg hidden">
                                        <img src="../../assets/images/play.png" class="play_icon" />
                                    </div>
                                </div>
                                <div class="sc_c_des">
                                    <div class="sc_c_des_name">
                                        <h5>this is name</h5>
                                    </div>
                                    <div class="sc_c_des_singer mginbt5">
                                        <a class="sc_text_link">
                                            this is singer
                                            <span class="nohover_singer hidden">
                                                x
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="sc_c_action_song">
                                    <div class="icon_action_song heart_active-none">
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div class="icon_action_song">
                                        <i class="fa fa-play"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content_action_bar">
                            <div class="sc_container_box_song box_song_bottom">
                                <div class="sc_c_img">
                                    <img src="../../assets/images/am-nhac.jpg" alt="" />
                                    <div class="sc_c_img_bg hidden">
                                        <img src="../../assets/images/play.png" class="play_icon" />
                                    </div>
                                </div>
                                <div class="sc_c_des">
                                    <div class="sc_c_des_name">
                                        <h5>this is name</h5>
                                    </div>
                                    <div class="sc_c_des_singer mginbt5">
                                        <a class="sc_text_link">
                                            this is singer
                                            <span class="nohover_singer hidden">
                                                x
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="sc_c_action_song">
                                    <div class="icon_action_song heart_active-none">
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div class="icon_action_song">
                                        <i class="fa fa-play"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content_action_bar">
                            <div class="sc_container_box_song box_song_bottom">
                                <div class="sc_c_img">
                                    <img src="../../assets/images/am-nhac.jpg" alt="" />
                                    <div class="sc_c_img_bg hidden">
                                        <img src="../../assets/images/play.png" class="play_icon" />
                                    </div>
                                </div>
                                <div class="sc_c_des">
                                    <div class="sc_c_des_name">
                                        <h5>this is name</h5>
                                    </div>
                                    <div class="sc_c_des_singer mginbt5">
                                        <a class="sc_text_link">
                                            this is singer
                                            <span class="nohover_singer hidden">
                                                x
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="sc_c_action_song">
                                    <div class="icon_action_song heart_active-none">
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div class="icon_action_song">
                                        <i class="fa fa-play"></i>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="page-host" data-bind="router: { transition:'entrance' }"></div>
</div>