<div>
    <section class="mm_container_top">
        <div class="sc_container_search">
            <div class="sc_content_search" data-bind="class: setIsSelected() ? 'active' : ''">
                <div class="b_search_icon">
                    <i class="fa fa-search"></i>
                </div>
                <input data-bind="hasFocus: setIsSelected" type="text" class="sc_search_input" placeholder="Tìm kiếm bài hát, nghệ sĩ..." />
            </div>
            <div class="sc_result_search" data-bind="class: setIsSelected() ? 'active' : ''">
                <div class="sc_content_result_search">
                    <div class="sc_result_key">
                        <div class="sc_title_result_key">
                            <span>Từ khóa liên quan</span>
                        </div>
                        <div class="sc_box_result_key hidden">
                            <div class="sm_search_icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="sc_text_result_key">
                                <span>Chưa có dữ liệu!</span>
                            </div>
                        </div>

                        <div class="sc_box_result_key">
                            <div class="sm_search_icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="sc_text_result_key">
                                <span>this is name</span>
                            </div>
                        </div>
                        <div class="sc_box_result_key">
                            <div class="sm_search_icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="sc_text_result_key">
                                <span>this is name</span>
                            </div>
                        </div>
                        <div class="sc_box_result_key">
                            <div class="sm_search_icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="sc_text_result_key">
                                <span>this is name</span>
                            </div>
                        </div>
                        <div class="sc_box_result_key">
                            <div class="sm_search_icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="sc_text_result_key">
                                <span>this is name</span>
                            </div>
                        </div>
                        <div class="sc_box_result_key">
                            <div class="sm_search_icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="sc_text_result_key">
                                <span>this is name</span>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="sc_result_song">
                        <div class="sc_title_result_key">
                            <span>Gợi ý kết quả</span>
                        </div>
                        <div class="sc_box_result_song">
                            <div class="sc_box_result_key hidden">
                                <div class="sm_search_icon">
                                    <i class="fa fa-search"></i>
                                </div>
                                <div class="sc_text_result_key">
                                    <span>Chưa có dữ liệu!</span>
                                </div>
                            </div>

                            <div class="sc_container_box_song">
                                <div class="sc_c_img">
                                    <img src="../../assets/images/am-nhac.jpg" alt="" />
                                    <div class="sc_c_img_bg hidden">
                                        <img src="../../assets/images/play.png" class="play_icon" />
                                    </div>
                                </div>
                                <div class="sc_c_des">
                                    <div class="sc_c_des_name">
                                        <h5>this is name</h5>
                                    </div>
                                    <div class="sc_c_des_singer">
                                        <h5>this is singer</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="sc_container_box_song">
                                <div class="sc_c_img">
                                    <img src="../../assets/images/am-nhac.jpg" alt="" />
                                    <div class="sc_c_img_bg hidden">
                                        <img src="../../assets/images/play.png" class="play_icon" />
                                    </div>
                                </div>
                                <div class="sc_c_des">
                                    <div class="sc_c_des_name">
                                        <h5>this is name</h5>
                                    </div>
                                    <div class="sc_c_des_singer">
                                        <h5>this is singer</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sc_container_action">
            <div class="sc_box_upload" data-bind="click: showModalUpload">
                <i class="fa fa-upload"></i>
                <span>Cập nhật ca khúc mới</span>
            </div>
            <div class="sc_box_icon" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Chủ đề">
                <i class="fa fa-magic"></i>
            </div>
            <div class="sc_box_icon" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cài đặt">
                <i class="fa fa-wrench"></i>
            </div>
            <a href="#login"
               data-bind="class: isLogin() ? 'hidden' : ''"
               class="sc_box_icon b_light"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="Người dùng">
                <i class="fa fa-user"></i>
            </a>
            <a data-bind="text: isUser(), class: isLogin() ? '' : 'hidden', click: isLogout"
               class="sc_box_icon b_light"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="Người dùng">
            </a>
        </div>
    </section>
    <section class="menu">
        <div class="mm_show_menu_mobile">
            <i class="fa fa-bars"></i>
        </div>
        <div class="mm_container_menu active-none">
            <div class="sc_menu">
                <a class="sc_menu_logo" href="#">
                    <img src="../../assets/images/logo.png" alt="" />
                </a>
                <div class="sc_menu_content">
                    <a class="sc_box_menu" href="#" data-bind="click: getURL.bind($data, '#'), class: isURL() == '#' ? 'active' : ''">
                        <div class="c_icon_menu">
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="c_title_menu">
                            <span>Khám phá</span>
                        </div>
                    </a>
                    <a class="sc_box_menu" href="#profile" data-bind="click: getURL.bind($data, '#profile'), class: isURL() == '#profile' ? 'active' : ''">
                        <div class="c_icon_menu">
                            <i class="fa fa-headphones"></i>
                        </div>
                        <div class="c_title_menu">
                            <span>Cá nhân</span>
                        </div>
                    </a>
                    <a class="sc_box_menu" href="#new" data-bind="click: getURL.bind($data, '#new'), class: isURL() == '#new' ? 'active' : ''">
                        <div class="c_icon_menu">
                            <i class="fa fa-music"></i>
                        </div>
                        <div class="c_title_menu">
                            <span>Nhạc mới</span>
                        </div>
                    </a>
                </div>
                <div class="sc_menu_sub_content">
                    <a class="sc_box_menu" href="#cate" data-bind="click: getURL.bind($data, '#cate'), class: isURL() == '#cate' ? 'active' : ''">
                        <div class="c_icon_menu">
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="c_title_menu">
                            <span>Thể loại</span>
                        </div>
                    </a>
                    <a class="sc_box_menu" href="#maxchart" data-bind="click: getURL.bind($data, '#maxchart'), class: isURL() == '#maxchart' ? 'active' : ''">
                        <div class="c_icon_menu">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                        <div class="c_title_menu">
                            <span>#maxchart</span>
                        </div>
                    </a>
                    <a class="sc_box_menu" href="#mv" data-bind="click: getURL.bind($data, '#mv'), class: isURL() == '#mv' ? 'active' : ''">
                        <div class="c_icon_menu">
                            <i class="fa fa-play-circle"></i>
                        </div>
                        <div class="c_title_menu">
                            <span>MV</span>
                        </div>
                    </a>
                    <a class="sc_box_menu" href="#sub" data-bind="click: getURL.bind($data, '#sub'), class: isURL() == '#sub' ? 'active' : ''">
                        <div class="c_icon_menu">
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="c_title_menu">
                            <span>Theo dõi</span>
                        </div>
                    </a>
                </div>
                <div class="sc_button_menu" data-bind="click: showModalAddPlaylist">
                    <div class="c_icon_menu">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="c_title_menu">
                        <span>Tạo playlist mới</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container_bottom">
        <div class="hidden_mobile active-none">
            <div class="icon_hidden_mobile">
                <i class="fa fa-chevron-circle-left"></i>
            </div>
        </div>
        <div class="mm_container_bot active_mobile-none">
            <div class="sc_container_left">
                <div class="c_img_song" data-bind="class: checkPlay() ? 'active' : ''">
                    <img id="img_song" data-bind="attr: { src: imgSong }" alt="" />
                </div>
                <div class="c_content_song">
                    <div class="c_title_song">
                        <span id="name_song" data-bind="text: nameSong"></span>
                    </div>
                    <div class="c_title_singer">
                        <span id="name_singer" data-bind="text: singer"></span>
                    </div>
                </div>
            </div>
            <div class="sc_container_center">
                <div class="sc_action_music">
                    <div class="c_i_action_m" data-bind="click: isRandom, class: sttRandom() ? 'active_ramdom' : ''">
                        <i class="fa fa-random"></i>
                    </div>
                    <div class="c_i_action_m">
                        <i class="fa fa-backward"></i>
                    </div>
                    <div class="c_i_action_m play">
                        <i class="fa fa-play" data-bind="visible: isPlay, click: playSong"></i>
                        <i class="fa fa-pause" data-bind="visible: isPause, click: pauseSong"></i>
                        <i class="fa fa-spinner" data-bind="visible: isSpinner"></i>
                    </div>
                    <div class="c_i_action_m">
                        <i class="fa fa-forward"></i>
                    </div>
                    <div class="c_i_action_m" data-bind="click: isLoop, class: sttLoop() ? 'active_retweet' : ''">
                        <i class="fa fa-retweet"></i>
                    </div>
                </div>
                <div class="sc_time_m">
                    <div class="sc_curent_time" id="set_time">
                        <span data-bind="text: strLine()"></span>
                    </div>
                    <input disabled="disabled" id="point_timeline" data-bind="attr: { max: duration, value: currentTime }" class="sc_time_line" type="range" min="0" />
                    <div class="sc_end_time">
                        <span data-bind="text: hours() == 0 ? '' : hours() < 10 ? '0'+hours()+':' : hours()+':' "></span>
                        <span data-bind="text: minutes() == 0 ? '00:' : minutes() < 10 ? '0'+minutes()+':' : minutes()+':' "></span>
                        <span data-bind="text: seconds() == 0 ? '00' : seconds() < 10 ? '0'+seconds() : seconds() "></span>
                    </div>
                </div>
            </div>
            <div class="you_like">Có thể bạn sẽ thích</div>
            <div class="sc_container_right">
                <div class="c_icon_action heart_active-none">
                    <i class="fa fa-heart"></i>
                </div>
                <div class="c_icon_action">
                    <span>mv</span>
                </div>
                <div class="c_icon_action">
                    <i class="fa fa-volume-up"></i>
                </div>
                <div class="c_volume_setting" id="volume">
                    <input data-bind="textInput: changeVolume" class="sc_point_volume" type="range" min="0" max="100" />
                </div>
                <div class="line_sp"></div>
                <div class="c_icon_action action_bar">
                    <div class="bar_menu" data-bind="click: showModalBottom">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="container_action_bar" data-bind="class: checkShowModalBottom() ? 'active' : ''">
                        <div class="text_line">Danh sách hiện tại</div>
                        <div data-bind="foreach: itemSongHistory">
                            <div class="content_action_bar">
                                <div class="sc_container_box_song box_song_bottom" data-bind="click: $parent.changeLinkModal.bind($parent, id_gg, singer, nameSong, imgSong)">
                                    <div class="sc_c_img">
                                        <img data-bind="attr: { src: imgSong }" alt="" />
                                        <div class="sc_c_img_bg hidden">
                                            <img src="../../assets/images/play.png" class="play_icon" />
                                        </div>
                                    </div>
                                    <div class="sc_c_des">
                                        <div class="sc_c_des_name">
                                            <h5 data-bind="text: nameSong"></h5>
                                        </div>
                                        <div class="sc_c_des_singer mginbt5">
                                            <a class="sc_text_link" data-bind="text: singer"></a>
                                            <span class="nohover_singer">x</span>
                                        </div>
                                    </div>
                                    <div class="sc_c_action_song">
                                        <div class="icon_action_song" data-bind="class: is_like ? 'heart_active' : '', click: $parent.addHeartModal.bind($parent, id_gg), clickBubble: false">
                                            <i class="fa fa-heart"></i>
                                        </div>
                                        <div class="icon_action_song">
                                            <i class="fa fa-play"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text_line">Có thể bạn sẽ thích</div>
                        <div data-bind="foreach: itemSong">
                            <div class="content_action_bar">
                                <div class="sc_container_box_song box_song_bottom" data-bind="click: $parent.changeLinkModal.bind($parent, id_gg, text_gr_singer, name, '../../assets/images' + image)">
                                    <div class="sc_c_img">
                                        <img data-bind="attr: { src: '../../assets/images' + image }" alt="" />
                                        <div class="sc_c_img_bg hidden">
                                            <img src="../../assets/images/play.png" class="play_icon" />
                                        </div>
                                    </div>
                                    <div class="sc_c_des">
                                        <div class="sc_c_des_name">
                                            <h5 data-bind="text: name"></h5>
                                        </div>
                                        <div class="sc_c_des_singer mginbt5" data-bind="foreach: id_singer">
                                            <a class="sc_text_link" data-bind="text: name"></a>
                                            <span class="nohover_singer">x</span>
                                        </div>
                                    </div>
                                    <div class="sc_c_action_song">
                                        <div class="icon_action_song heart_active-none">
                                            <i class="fa fa-heart"></i>
                                        </div>
                                        <div class="icon_action_song">
                                            <i class="fa fa-play"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="is-modal" id="uploadModal" data-bind="class: checkShowModalUpload() ? '' : 'hidden'">
            <div class="modal-header">
                <span>CẬP NHẬT CA KHÚC MỚI</span>
            </div>
            <div class="modal-body">
                <div class="box-input">
                    <label>Tên bài hát</label>
                    <input type="text" data-bind="textInput: valueNameSong" />
                </div>
                <div class="box-input">
                    <label>Ca sĩ thể hiện</label>
                    <input type="text" data-bind="textInput: valueSinger" />
                </div>
                <div class="box-input">
                    <label>ID Google Driver</label>
                    <input type="text" data-bind="textInput: valueIDGG" />
                </div>
                <div class="box-input">
                    <label>Hình ảnh</label>
                    <div class="custom-file">
                        <span>Choose Your File</span>
                        <input type="file" accept="image/*" data-bind="event: { change: function() {uploadImage($element.files[0])} }">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-submit" data-bind="click: saveUploadSong">Lưu lại</div>
                <div class="btn-close" data-bind="click: hiddenModalUpload">Đóng</div>
            </div>
        </div>

        <div class="is-modal" id="uploadModal" data-bind="class: checkShowModalAddPlaylist() ? '' : 'hidden'">
            <div class="modal-header">
                <span>TẠO PLAYLIST MỚI</span>
            </div>
            <div class="modal-body">
                <div class="box-input">
                    <label>Tên danh sách phát</label>
                    <input type="text" data-bind="textInput: valueNamePlaylist" />
                </div>
                <div class="box-input" style="position: relative;">
                    <label>Danh sách bài hát</label>
                    <input data-bind="value: saved_value, event: { change: value_changed }, valueUpdate: 'keyup'" />
                    <div class="select-input" data-bind="foreach: itemSongSearchInput, class: sttInputSearch() ? '' : 'hidden'">
                        <div class="option-input" data-bind="text: name, click: $parent.addValueInput.bind($parent, name), clickBubble: false"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-submit" data-bind="click: saveAddPlaylist">Lưu lại</div>
                <div class="btn-close" data-bind="click: hiddenModalAddPlaylist">Đóng</div>
            </div>
        </div>

        <audio id="audioElement">
            <source data-bind="attr: { src: url_song }, event: { play: playSong }" />
        </audio>
    </section>
    <div class="page-host" data-bind="router: { transition:'entrance' }"></div>
</div>