<div class="c_content_tab_playlist" data-bind="class: isTab() == 2 ? '' : 'hidden'">
    <div class="empty-playlist" data-bind="class: itemSongLikePlaylist().length > 0 ? 'hidden' : ''">
        <img src="../../assets/images/empty.png" alt="" />
        <div class="c_text_empty">
            Chưa có playlist nào trong thư viện
        </div>
    </div>
    <div class="sc_container_box_list_song" data-bind="foreach: itemSongLikePlaylist">
        <div class="sc_box_list" data-bind="click: function() {window.location.href = '#playlist/' + id}">
            <div class="sc_container_img_list">
                <div class="c_img_list" data-bind="foreach: img">

                    <img data-bind="attr: { src: '../../assets/images' + img }" class="c_img_list_list" alt="" />

                </div>
                <div class="c_container_img">
                    <div class="c_content_img">
                        <div class="c_box_icon" data-bind="class: is_like != 0 ? 'heart_active' : '', click: $parent.addPlaylist.bind($parent, id), clickBubble: false">
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="c_icon_play">
                            <i class="fa fa-play-circle"></i>
                        </div>
                        <div class="c_box_icon">
                            <i class="fa fa-download"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sc_c_des_name">
                <h5 data-bind="text: name"></h5>
            </div>
            <div class="sc_c_des_singer">
                <h5 data-bind="text: 'Tạo bởi '+ create_by"></h5>
            </div>
        </div>
    </div>
</div>