<div class="mm_list_random">
    <div class="sc_container_box_list inblock w100 mbot10">
        <div class="mm_title_list left">
            <h4>Playlist Thịnh Hành</h4>
        </div>
        <div class="mm_see_all">
            <h4>TẤT CẢ</h4><i class="fa fa-chevron-right"></i>
        </div>
    </div>
    <div class="sc_container_box_list_song" data-bind="foreach: itemPlaylist">
        <div class="sc_box_list" data-bind="click: function() {window.location.href = '#playlist/' + id}">
            <div class="sc_container_img_list">
                <div class="c_img_list" data-bind="foreach: img">
                    <img data-bind="attr: { src: '../../assets/images' + img }" class="c_img_list_list" alt="" />
                </div>
                <div class="c_container_img">
                    <div class="c_content_img">
                        <div class="c_box_icon" data-bind="class: is_like != 0 ? 'heart_active' : '', click: $parent.addPlaylist.bind($parent, id), clickBubble: false">
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="c_icon_play">
                            <i class="fa fa-play-circle"></i>
                        </div>
                        <div class="c_box_icon">
                            <i class="fa fa-download"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sc_c_des_name">
                <h5 data-bind="text: name"></h5>
            </div>
            <div class="sc_c_des_singer">
                <h5 data-bind="text: create_by"></h5>
            </div>
        </div>
    </div>
</div>